

body {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}
.container-wrap { 
    margin: auto;
    width: 1024px;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, .4);

}

.flex-container {
    display: flex;
}

footer {
    display: flex;
}